<main>
    <header>
        <h1>Change your password</h1>

    </header>

    <section>

        <form id="loginForm" method="POST" action="/account/change-password/{{token}}">
            
            <h2>Enter your new password</h2>
            <input type="password" placeholder="New password" name="password" required/>
            <input type="password" placeholder="Repeat new password" name="repeatpassword" required/>

            <button type="submit" class="cta-button" id="loginBtn" data-active="true">Change Password</button>

        </form>

        <p class="center-text">Remembered your password? Great! You can <a href="/account/login">log in here</a>.</p>

        <p class="center-text">Don't have an account? No worries! you can <a href="/account/beta-interest">register your interest for our closed beta</a> and we'll get back to you soon!</p>

        <p class="center-text small-text">By using Choirless, you are agreeing to our <a class="open-terms">terms &amp; conditions</a>.</p>

    </section>

</main>

{{> terms}}