<main>
    <header>
        <h1>Join us!</h1>
        <h4>Create an account with Choirless to join our singing community</h4>

    </header>

    <section>

        <form id="loginForm" method="POST" action="/account/create">
            
            <h2>Account Details</h2>
            <input type="text" placeholder="Username" name="username" required/>
            <input type="password" placeholder="Password" name="password" required/>
            <input type="password" placeholder="Repeat password" name="repeat_password" required/>

            <button type="submit" class="cta-button" id="createAccountBtn" data-active="true">Create</button>

        </form>

        <p class="center-text">Already have an account? Great! You can <a href="/account/login">log in here</a>.</p>
        
    </section>

</main>