<main>
    <header>
        <h1>Login</h1>
        <h4>Log in to Choirless to get started with your performance</h4>

    </header>

    <section>

        <form id="loginForm" method="POST" action="/account/login{{#if redirect}}?redirect={{redirect}}{{/if}}">
            
            <h2>Login to Choirless</h2>
            <input type="email" placeholder="Email Address" name="email"/>
            <input type="password" placeholder="Password" name="password"/>

            <button type="submit" class="cta-button" id="loginBtn" data-active="true">Login</button>

        </form>

        {{#if inviteId}}

        <p class="center-text">Don't have an account? No worries! you can <a href="/account/create?inviteId={{inviteId}}{{#if redirect}}&redirect={{#encodeURL}}{{this.redirect}}{{/encodeURL}}{{/if}}">create one here</a>.</p>
        
        {{else}}

        <p class="center-text">Don't have an account? No worries! you can <a href="/account/beta-interest">register your interest for our closed beta</a> and we'll get back to you soon!</p>

        {{/if}}

        <p class="center-text">By using Choirless, you are agreeing to our <a class="open-terms">terms &amp; conditions</a>.</p>

    </section>

</main>

{{> terms}}