<main>
    <header>
        <h1>Reset your password</h1>
        <h4>Forgot your password? No worries! It happens to the best of us</h4>

    </header>

    <section>

        <form id="resetPassword" method="POST" action="/account/trigger-reset-password">

            <label for="email">Email Address</label>
            <input id="email" type="email" placeholder="Please enter your email address" name="email" required/>
            
            <button type="submit" class="cta-button" id="resetPasswordBtn" data-active="true">Reset Password</button>

        </form>

        <p class="center-text">Remembered your password? Great! You can <a href="/account/login">log in here</a>.</p>

    </section>

</main>