<main>
    <header>
        <h1>Reset Password</h1>
        <h4>Forgotten your password? No worries, It happens to the best of us!</h4>

    </header>

    <section>

        <form id="loginForm" method="POST" action="/account/reset-password">
            
            <h2>Reset your password</h2>
            <input type="email" placeholder="Email Address" name="email" required/>

            <button type="submit" class="cta-button" id="loginBtn" data-active="true">Reset Password</button>

        </form>

        <p class="center-text">Remembered your password? Great! You can <a href="/account/login">log in here</a>.</p>

        <p class="center-text">Don't have an account? No worries! you can <a href="/account/beta-interest">register your interest for our closed beta</a> and we'll get back to you soon!</p>

        <p class="center-text small-text">By using Choirless, you are agreeing to our <a class="open-terms">terms &amp; conditions</a>.</p>

    </section>

</main>

{{> terms}}