<div id="notice" class="" data-active="false">

    <h5>Error</h5>
    <h5></h5>

    <p>{{msg}}</p>
    <button class="cta-button">OK</button>
</div>

<script>

    var __global_message = (function(){

        var notificationBox = document.querySelector('#notice');
        var title = notificationBox.querySelector('h5');
        var contentElement = notificationBox.querySelector('p');
        var okBtn = notificationBox.querySelector('button');

        var types = {
            "general" : {
                "titleText" : "Notice"
            },
            "success" : {
                "titleText" : "Success!"
            },
            "error" : {
                "titleText" : "Error"
            }
        }

        function displayAGlobalMessage(information){
            
            if(!information){
                console.log("No information was passed to __global_message.display()");
            } else if(notificationBox.dataset.active === "true"){
                console.log("Message is already displaying. It cannot be reset until closed by user");
            } else {

                var messageType = information.type || "general";
                var resetParameters = information.resetParameters || false;

                if(!Object.keys(types).includes(messageType)){
                    console.log('Invalid message type passed. Defaulting to general');
                    messageType = "general";
                }
                debugger;
                notificationBox.classList.add(messageType);
                title.textContent = types[messageType].titleText;
                contentElement.textContent = information.content;

                okBtn.addEventListener('click', function(){
                    this.parentNode.dataset.active = "false";

                    if(resetParameters){
                        var pageQueryParameters = new URLSearchParams(window.location.search);
                        pageQueryParameters.delete('msg');
                        pageQueryParameters.delete('msgtype');

                        var ammendedQueryString = pageQueryParameters.toString();

                        window.history.replaceState({}, document.title, window.location.pathname + ammendedQueryString !== "" ? "?" + ammendedQueryString : "");
                    }

                    notificationBox.classList = "";

                }, {once : true});

                notificationBox.dataset.active = "true";

            }

        }

        return {
            display : displayAGlobalMessage
        }

    })();

    {{#if msg}}

    __global_message.display({
        content : decodeURIComponent("{{msg}}"),
        type : "{{msgtype}}",
        resetParameters : true
    });

    {{/if}}

</script>