<footer>
    <div>
        <p>Choirless</p>
        <p>An app designed and built for Call for Code 2020<br/>by <a target="_blank" href="https://twitter.com/hammertoe">Matt</a>, <a target="_blank" href="https://twitter.com/seanmtracey">Sean</a>, and <a target="_blank" href="https://twitter.com/glynn_bird">Glynn</a>. </p>
    </div>
</footer>