<div id="notice" class="{{messageType}}" data-active="true">
    {{#ifEquals msgType "success"}}
    <h5>Success!</h5>
    {{/ifEquals}}

    {{#ifEquals msgType "general"}}
    <h5>Notice</h5>
    {{/ifEquals}}

    {{#ifEquals msgType "error"}}
    <h5>Error</h5>
    {{/ifEquals}}

    <p>{{msg}}</p>
    <button class="cta-button">OK</button>
</div>

<script>

    (function(){
        'use strict';

        const notificationBox = document.querySelector('#notice');
        const okBtn = notificationBox.querySelector('button');

        okBtn.addEventListener('click', function(){
            this.parentNode.dataset.active = "false";

            var pageQueryParameters = new URLSearchParams(window.location.search);
            pageQueryParameters.delete('msg');
            pageQueryParameters.delete('msgtype');

            var ammendedQueryString = pageQueryParameters.toString();

            window.history.replaceState({}, document.title, window.location.pathname + ammendedQueryString !== "" ? "?" + ammendedQueryString : "");

        }, {once : true});

    }());

</script>