<nav>
    <a href="/">Choirless</a>
    <section>
        <a href="/">Home</a>
        {{#if loggedIn}}<a href="/dashboard">Dashboard</a>{{/if}}
        {{#if loggedIn}}<a href="/account/logout">Log Out</a>{{else}}<a href="/account/login">Log In</a>{{/if}}

    </section>    
</nav>