<nav data-expanded="false">
    <a href="/" id="logo">Choirless</a>
    <section>
        <a href="/">Home</a>
        {{#if user}}<a href="/dashboard">Dashboard</a>{{/if}}
        {{#if user}}<a href="/account/logout">Log Out</a>{{else}}<a href="/account/login">Log In</a>{{/if}}
        {{#if user}}<a class="cta-button dark-green feedback">Feedback</a>{{/if}}
        {{#ifEquals userType "admin"}}
        <a href="/admin" class="cta-button yellow">Admin</a>
        {{/ifEquals}}
    </section>
    <button class="sub-menu dark" id="navMenuToggle" type="button"></button>
</nav>

<script>

    (function(){

        'use strict';

        var navToggle = document.querySelector('nav button#navMenuToggle');

        navToggle.addEventListener('click', function(){

            this.parentNode.dataset.expanded = this.parentNode.dataset.expanded === "true" ? "false" : "true";

        }, false);

    }());

</script>