<nav>
    <a href="/">Choirless</a>
    <section>
        <a href="/">Home</a>
        <a href="/create">Create</a>
        <a href="/watch">Watch</a>
        <a href="/about">About</a>
    </section>    
</nav>