<div id="deleteRecording" class="modal dangerous" data-active="false">
    <div class="container">

        <div class="content">
            <h2>Delete a recording</h2>

            <h3 class="warning">WARNING: This is an irreversible action</h3>

            <p>If you delete this recording, <strong>it will be immediately removed from the Choirless system and will not be retrievable.</strong></p>
            <p><strong>This is the recording you're about to delete:</strong></p>
            <video controls src=""></video>
            
            <p>If you're sure you want to delete this recording, please enter the answer to the sum below and then click 'Delete recording'</p>
            <form method="POST">
                <label for="answer">What is 2 + 2?</label>
                <input id="answer" type="number" required/>

                <div class="side-by-side">
                    <button type="button" class="cta-button black cancel">Cancel</button>
                    <button type="submit" class="cta-button red">Delete recording</button>
                </div>

            </form>

        </div>
    </div>
</div>

<script>

    (function(){

        'use strict';

        var modal = document.body.querySelector('.modal#deleteRecording');
        var form = modal.querySelector('form');
        var challenge = form.querySelector('label[for="answer"]');
        var cancel = modal.querySelector('button.cancel');

        var firstInt = Math.random() * 10 | 0;
        var secondInt = Math.random() * 10 | 0;

        challenge.textContent = `What is ${firstInt} + ${secondInt}?`;

        var answer = firstInt + secondInt;

        function closeModal(){
            modal.querySelector('video').src = "";
            modal.dataset.active = "false";
            firstInt = Math.random() * 10 | 0;
            secondInt = Math.random() * 10 | 0;
            answer = firstInt + secondInt;
            form.reset();
            challenge.textContent = `What is ${firstInt} + ${secondInt}?`;
            form.querySelector('button[type="submit"]').classList.remove('loading');
        }

        form.addEventListener('submit', function(e){
            e.preventDefault();
            e.stopImmediatePropagation();

            var challengeAnswer = Number(form[0].value);

            console.log(this.action);
            console.log(`${firstInt} + ${secondInt} = ${firstInt + secondInt}`, `Expected Answer: ${answer}`, `Given Answer`, `Correct?: ${firstInt + secondInt === challengeAnswer}`);

            if(challengeAnswer !== answer){
                form.reset();
                __global_message.display({
                    content : "That's not the right answer to the challenge. Preventing deletion of recording.",
                    type : "error",
                    resetParameters : true
                });
            } else {
                console.log('Confirmed. Delete recording');

                this.querySelector('button[type="submit"]').classList.add('loading');
                this.submit();

            }

        }, false);

        cancel.addEventListener('click', closeModal, false);



    }());

</script>