{{#unless songs}}
    <div class="no-info">
        
        <p>You haven't created any songs for this choir yet...</p>

    </div>
{{else}}

    <table id="songs" data-active="true">
        
        <thead>
            <tr>
                <td>Title</td>
                <td>Members</td>
                <td>Performances Recorded</td>
                <td>Created</td>
                <td></td>
            </tr>
        </thead>

        <tbody>
            
            <!--<tr>
                <td>Yellow Submarine</td>
                <td>16 Members</td>
                <td>8 / 16</td>
                <td>25/05/2020 09:30:30</td>
                <td><a href="#">Review Performances</a></td>
            </tr>-->

        </tbody>

    </table>

{{/unless}}
