<div class="tableActions" id="songActions">
    <button id="addANewPart" class="cta-button light-blue" data-active="true">Add a part</button>
</div>

<table id="songs" data-active="true">
    
    <thead>
        <tr>
            <td>Contributor</td>
            <td></td>
        </tr>
    </thead>

    <tbody>
        
        <!--<tr>
            <td>Yellow Submarine</td>
            <td>16 Members</td>
            <td>8 / 16</td>
            <td>25/05/2020 09:30:30</td>
            <td><a href="#">Review Performances</a></td>
        </tr>-->

        {{#each songParts}}
            <tr class="subhead">
                <td>{{this.name}}</td>
                <td><button class="recordPart blue cta-button">Record this part</button>
            </tr>

            {{#unless this.parts}}

            <td colspan="2">No recordings have been made for this part yet.</td>

            {{else}}

                {{#each this.parts}}
                <tr>
                    <td><a>{{this.userName}}</a></td>
                </tr>
                {{/each}}

            {{/unless}}

        {{/each}}


    </tbody>

</table>