<div>
    <ol>
        <li class="active"><button>Songs</button></li>
        <li><button>Members</button></li>
        <li><button>Settings</button></li>
    </ol>
    <button id="create" class="cta-button light-blue">Create New Song</button>
</div>