<table id="users" data-active="false">
    
    <thead>
        <tr>
            <td>Name</td>
            <td>Email Address</td>
            <td>Join Date</td>
            <td>Performances Contributes</td>
            <td></td>
        </tr>
    </thead>

    <tbody>

        <!--<tr>
            <td>John Doe</td>
            <td>john.doe@example.org</td>
            <td>10/05/2020 09:30:30</td>
            <td>5</td>
            <td><a href="#">Remove?</a></td>
        </tr>-->

    </tbody>

</table>