<header>
    <h1>About Choirless</h1>
</header>

<main>

    <section>
        <h2>"What is Choirless?"</h2>
        <p>Choirless is web-based platform that lets choirs, bands and any kind of performer rehearse and perform together without any of that latency or syncing up business that you have to put up with in video calling software.</p>
    </section>

    <section>
        <h2>"Wait, so there's no latency?"</h2>
        <p>That's right! Video conferencing software is a great way to stay in touch with friends, family, and beloved pets, but it's not optimised for singing or musical insruments. The audio streams get compressed, audio levels change dynamically, and latency in the network makes it impossible to sing in time with more than one person.</p>
        
        <p>Choirless does away with all of that 🎉</p>
        <p>We let you record high-quality audio and then use the magic of ✨data science ✨ to automatically sync you and your performance up with your fellow performers.</p>

        <p>Once you've performed your part, we automatically sync and mix all of the different recordings together and generate a lovely video wall that you can share with anybody you like.</p>

    </section>

    <section>
        <h2>"That sounds great! What does the output look like?"</h2>


    </section>


</main>


{{> footer}}
{{> terms}}