<main>
    <h1>Choirless Admin</h1>
    <section>
        <h2>Create Beta User Invitation</h2>
        <form action="/admin/invite-beta-user" method="POST">

            <label for="email">Invitee Email</label>
            <input type="email" placeholder="cameron@example.com" name="email" />

            <input type="submit" class="cta-button blue" value="Send Invitation" />

        </form>

    </section>

</main>