<main>
    <h1>Choirless Admin</h1>
    <section>
        <h2>Create Beta User Invitation</h2>
        <form action="/admin/invite-beta-user" method="POST">

            <label for="email">Invitee Email</label>
            <input type="email" placeholder="cameron@example.com" name="email" />

            <input type="submit" class="cta-button blue" value="Send Invitation" />

        </form>

        <h2>Impersonate Choirless user</h2>
        <form action="/admin/impersonate" method="POST">

            <label for="impersonatedId">Either... Choirless User Id</label>
            <input type="text" placeholder="001jq23v...." name="impersonatedId" />

            <label for="impersonatedEmail">Or... Choirless User Email Address</label>
            <input type="email" placeholder="bob@choirless.com" name="impersonatedEmail" />

            <input type="submit" class="cta-button blue" value="Impersonate" />

        </form>

    </section>

</main>