<main>

    <section id="choirMenu" class="sidebar">
        <h2>My Choirs</h2>
        <ul>
            <li><a href="#">The People's Front of Judea</a></li>
            <li><a href="#">The Judean People's Front</a></li>
            <li><a href="#">Gaussian Blur</a></li>
        </ul>

    </section>

    <section id="choirInfo">

        <header>
            <h1>The People's Front of Judea</h1>
            <p>This is where you can manage you choir. Here, you can create new songs
for recording, or add new members to you choir.</p>
        </header>

        <section id="management">

            <div>
                <ol>
                    <li class="active"><button>Songs</button></li>
                    <li><button>Members</button></li>
                </ol>
                <button id="create" class="cta-button light-blue">Create New Song</button>
            </div>

            <table id="songs">
                
                <thead>
                    <tr>
                        <td>Title</td>
                        <td>Members</td>
                        <td>Performances Recorded</td>
                        <td>Created</td>
                        <td></td>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Yellow Submarine</td>
                        <td>16 Members</td>
                        <td>8 / 16</td>
                        <td>25/05/2020 09:30:30</td>
                        <td><a href="#">Review Performances</a></td>
                    </tr>

                    <tr>
                        <td>Yellow Submarine</td>
                        <td>16 Members</td>
                        <td>8 / 16</td>
                        <td>25/05/2020 09:30:30</td>
                        <td><a href="#">Review Performances</a></td>
                    </tr>

                    <tr>
                        <td>Yellow Submarine</td>
                        <td>16 Members</td>
                        <td>8 / 16</td>
                        <td>25/05/2020 09:30:30</td>
                        <td><a href="#">Review Performances</a></td>
                    </tr>

                    <tr>
                        <td>Yellow Submarine</td>
                        <td>16 Members</td>
                        <td>8 / 16</td>
                        <td>25/05/2020 09:30:30</td>
                        <td><a href="#">Review Performances</a></td>
                    </tr>

                    <tr>
                        <td>Yellow Submarine</td>
                        <td>16 Members</td>
                        <td>8 / 16</td>
                        <td>25/05/2020 09:30:30</td>
                        <td><a href="#">Review Performances</a></td>
                    </tr>

                    <tr>
                        <td>Yellow Submarine</td>
                        <td>16 Members</td>
                        <td>8 / 16</td>
                        <td>25/05/2020 09:30:30</td>
                        <td><a href="#">Review Performances</a></td>
                    </tr>

                    <tr>
                        <td>Yellow Submarine</td>
                        <td>16 Members</td>
                        <td>8 / 16</td>
                        <td>25/05/2020 09:30:30</td>
                        <td><a href="#">Review Performances</a></td>
                    </tr>

                    <tr>
                        <td>Yellow Submarine</td>
                        <td>16 Members</td>
                        <td>8 / 16</td>
                        <td>25/05/2020 09:30:30</td>
                        <td><a href="#">Review Performances</a></td>
                    </tr>

                    <tr>
                        <td>Yellow Submarine</td>
                        <td>16 Members</td>
                        <td>8 / 16</td>
                        <td>25/05/2020 09:30:30</td>
                        <td><a href="#">Review Performances</a></td>
                    </tr>

                    <tr>
                        <td>Yellow Submarine</td>
                        <td>16 Members</td>
                        <td>8 / 16</td>
                        <td>25/05/2020 09:30:30</td>
                        <td><a href="#">Review Performances</a></td>
                    </tr>

                    <tr>
                        <td>Yellow Submarine</td>
                        <td>16 Members</td>
                        <td>8 / 16</td>
                        <td>25/05/2020 09:30:30</td>
                        <td><a href="#">Review Performances</a></td>
                    </tr>

                    <tr>
                        <td>Yellow Submarine</td>
                        <td>16 Members</td>
                        <td>8 / 16</td>
                        <td>25/05/2020 09:30:30</td>
                        <td><a href="#">Review Performances</a></td>
                    </tr>

                    <tr>
                        <td>Yellow Submarine</td>
                        <td>16 Members</td>
                        <td>8 / 16</td>
                        <td>25/05/2020 09:30:30</td>
                        <td><a href="#">Review Performances</a></td>
                    </tr>

                </tbody>

            </table>

            <table id="users" data-active="false">
                
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Email Address</td>
                        <td>Join Date</td>
                        <td>Performances Contributes</td>
                        <td></td>
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td>John Doe</td>
                        <td>john.doe@example.org</td>
                        <td>10/05/2020 09:30:30</td>
                        <td>5</td>
                        <td><a href="#">Remove?</a></td>
                    </tr>

                    <tr>
                        <td>Jane Doe</td>
                        <td>jane.doe@example.org</td>
                        <td>10/05/2020 09:30:30</td>
                        <td>5</td>
                        <td><a href="#">Remove?</a></td>
                    </tr>

                    <tr>
                        <td>John Doe</td>
                        <td>john.doe@example.org</td>
                        <td>10/05/2020 09:30:30</td>
                        <td>5</td>
                        <td><a href="#">Remove?</a></td>
                    </tr>

                    <tr>
                        <td>Jane Doe</td>
                        <td>jane.doe@example.org</td>
                        <td>10/05/2020 09:30:30</td>
                        <td>5</td>
                        <td><a href="#">Remove?</a></td>
                    </tr>

                    <tr>
                        <td>John Doe</td>
                        <td>john.doe@example.org</td>
                        <td>10/05/2020 09:30:30</td>
                        <td>5</td>
                        <td><a href="#">Remove?</a></td>
                    </tr>

                    <tr>
                        <td>Jane Doe</td>
                        <td>jane.doe@example.org</td>
                        <td>10/05/2020 09:30:30</td>
                        <td>5</td>
                        <td><a href="#">Remove?</a></td>
                    </tr>

                    <tr>
                        <td>John Doe</td>
                        <td>john.doe@example.org</td>
                        <td>10/05/2020 09:30:30</td>
                        <td>5</td>
                        <td><a href="#">Remove?</a></td>
                    </tr>

                    <tr>
                        <td>Jane Doe</td>
                        <td>jane.doe@example.org</td>
                        <td>10/05/2020 09:30:30</td>
                        <td>5</td>
                        <td><a href="#">Remove?</a></td>
                    </tr>

                    <tr>
                        <td>John Doe</td>
                        <td>john.doe@example.org</td>
                        <td>10/05/2020 09:30:30</td>
                        <td>5</td>
                        <td><a href="#">Remove?</a></td>
                    </tr>

                    <tr>
                        <td>Jane Doe</td>
                        <td>jane.doe@example.org</td>
                        <td>10/05/2020 09:30:30</td>
                        <td>5</td>
                        <td><a href="#">Remove?</a></td>
                    </tr>

                </tbody>

            </table>

        </section>

    </section>

</main>