{{> nav}}

<header>
    <h1>Choirless</h1>
    <h4>All the world's a stage<br/>Even when you're staying safe at home</h4>
    <a href="/create" class="cta-button">Start A Performance</a>
</header>

<div id="performances">

    <div class="space-heading">
        <h2>Performances</h2>
        <input type="text" placeholder="Search" id="search"/>
    </div>

    <ul>

        <li>
            <a href="/watch/">
                <img src="/images/performance_holder.png" />
                <h4>The Choirless Trinity</h4>
                <p>Yellow Submarine</p>
            </a>
        </li>

        <li>
            <a href="/watch/">
                <img src="/images/performance_holder.png" />
                <h4>The Choirless Trinity</h4>
                <p>Yellow Submarine</p>
            </a>
        </li>

        <li>
            <a href="/watch/">
                <img src="/images/performance_holder.png" />
                <h4>The Choirless Trinity</h4>
                <p>Yellow Submarine</p>
            </a>
        </li>

        <li>
            <a href="/watch/">
                <img src="/images/performance_holder.png" />
                <h4>The Choirless Trinity</h4>
                <p>Yellow Submarine</p>
            </a>
        </li>

        <li>
            <a href="/watch/">
                <img src="/images/performance_holder.png" />
                <h4>The Choirless Trinity</h4>
                <p>Yellow Submarine</p>
            </a>
        </li>

    </ul>

</div>