<header>
    <h1>Choirless</h1>
    <h4>Bringing people together<br/>Even when they're not together</h4>
    <a href="/dashboard" class="cta-button">{{#unless user}}Start your Choir{{else}}See your Choirs{{/unless}}</a>
</header>


{{> footer}}