<header>
    <h1>Choirless</h1>
    <h4>Bringing people together<br/>Even when they're not together</h4>
    <a href="/performance/create" class="cta-button">Start A Performance</a>
</header>


{{> footer}}