<header>
    <h1>Choirless</h1>
    <h4>All the world's a stage<br/>Even when you're staying safe at home</h4>
    <a href="/performance/create" class="cta-button">Start A Performance</a>
</header>

<div id="performances">

    <div class="space-heading">
        <h2>Performances</h2>
        <input type="text" placeholder="Search" id="search"/>
    </div>

    <ul>

        <li>
            <a href="#">
                <img src="/assets/images/performance_holder.jpg" />
                <h4>The Choirless Trinity</h4>
                <p>Yellow Submarine</p>
            </a>
        </li>

        <li>
            <a href="#">
                <img src="/assets/images/performance_holder.jpg" />
                <h4>The Backstreet Joys</h4>
                <p>Yellow Submarine</p>
            </a>
        </li>

        <li>
            <a href="#">
                <img src="/assets/images/performance_holder.jpg" />
                <h4>Gaussian Blur</h4>
                <p>Song 3</p>
            </a>
        </li>

        <li>
            <a href="#">
                <img src="/assets/images/performance_holder.jpg" />
                <h4>The People's Front of Judea</h4>
                <p>Always look on the bright side of life</p>
            </a>
        </li>

        <li>
            <a href="#">
                <img src="/assets/images/performance_holder.jpg" />
                <h4>The Heart of Gold Quartet</h4>
                <p>So long, and thanks for all the fish</p>
            </a>
        </li>

    </ul>

</div>

{{> footer}}