<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  </head>
  <body id="{{{bodyid}}}"></body>
    {{> nav}}
    {{{body}}}
  </body>
</html>
