<!DOCTYPE html>
<html lang="en">
	<head>
		
		<title>{{title}}</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />

		<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
		<link rel="shortcut icon" href="/favicon.ico">
		
		<script>
			(function(){
				'use strict';

				var gFonts = document.createElement('link');
				gFonts.rel = 'stylesheet';
				gFonts.href = 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap';
				gFonts.type = 'text/css';
				document.head.appendChild(gFonts);

			}());
		</script>

		<noscript>
			<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet" />
		</noscript>

	</head>
	<body id="{{{bodyid}}}"></body>
		{{> nav}}
		{{{body}}}

		{{#if msg}}
			{{> display_message}}
		{{/if}}

	<script>
		if ('serviceWorker' in navigator) {
			navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
				console.log('ServiceWorker registration successful with scope: ', registration.scope);
			});
		}
	</script>

	</body>
</html>
