<!DOCTYPE html>
<html lang="en">
	<head>
		
		<title>{{title}}</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />

		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet" />

		<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="manifest" href="/manifest.json" />

	</head>
	<body id="{{{bodyid}}}"></body>
		{{> nav}}
		{{{body}}}

		{{#if msg}}
			{{> display_message}}
		{{/if}}



	<div id="safariWarning" class="global-dialog" data-active="false">
		<div class="dialog-content">
			<h3 id="heading">Hello, Safari user!</h3>
			<p>We're sorry, but Safari doesn't have the advanced technologies that Choirless uses to record songs.</p>
			<p>That said, Choirless works fantastically in Chrome, Firefox, and Edge. If you open up the link in one of those browsers, everything (should) be great.</p>
		</div>
	</div>

	<script>

		(function(){

			'use strict';

			const safariWarning = document.querySelector('#safariWarning');

			var ua = navigator.userAgent.toLowerCase(); 
			if (ua.indexOf('safari') !== -1) { 
				if (ua.indexOf('chrome') > -1) {
				} else {
					safariWarning.dataset.active = "true";
				}
			}

		}());

	</script>

	<script>
		if ('serviceWorker' in navigator) {
			navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
				console.log('ServiceWorker registration successful with scope: ', registration.scope);
			});
		}
	</script>

	</body>
</html>
