*[data-active="false"]{
  display: none !important;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 16px;
}

html{
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
  margin-top: 0;
}

body{ 
  overflow: scroll;
  background-image: url('/assets/images/background.jpg');
  background-size: 100% auto;
  background-position: 50% -20vh;
  background-repeat: no-repeat;
  padding-top: 50px;
  box-sizing: border-box;
  overflow: hidden;
}

body.impersonating{
  margin-top: 50px;
}

body.impersonating nav{
  top: 50px;
}

body.impersonating .impersonating-toolbar .cta-button{
  margin-left: 1em;
}

a {
  color: #00B7FF;
}

p, a{
  font-weight: 500;
  line-height: 1.5em;
}

ul, ul li{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a.sub-link{
  color: black;
  font-size:0.8em;
  cursor: pointer;
}

.center-text{
  text-align: center;
}

.small-text{
  font-size: 0.75em;
}

.no-text-decoration{
  text-decoration: none;
}

input[type="text"]{
  font-family: 'Montserrat';
}

label.required::after{
  content: "(required)";
  font-size: 0.75em;
  margin-left: 0.5em;
  height: 100%;
  position: relative;
  font-weight: 600;
  top: -0.3em;
  color: #969696;
}

.impersonating-toolbar{
  position: fixed;
  top: 0;
  left: 0;
  background: #ffe563;
  z-index: 100000;
  width: 100%;
  height: 50px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}


nav {
  background-color: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 3px black;
  color: white;
  padding: 0 1em;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 800;
  margin-right: 1em;
}

nav a#logo::after {
  content: 'beta';
  font-weight: 100;
  font-size: 0.75em;
  position: relative;
  top: -0.1em;
  margin-left: 0.3em;
  color: #ffe354;
}

nav div:first-of-type{
  display: flex;
  align-items: center;
}

nav div:first-of-type span{
  font-size: 0.75em;
}

nav div:first-of-type span:first-of-type{
  font-weight: 600;
  margin-right: 0.5em;
}

nav section a{
  margin-left: 1em;
  font-size: 0.8em;
  font-weight: 500;
  margin-right: 0;
}

nav .cta-button{
  padding: 0.5em 1em !important;
}

nav .cta-button.feedback.small-screen-only{
  display: none;
  position: absolute;
  right: 3.5em;
  top: 0.65em;
}

#notice{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 1em;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 0 15px black;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  width: 25%;
  z-index: 10000;
}

#notice.success{
  background: #0ec155;
}

#notice.general{
  background: #1a76c5;
}

#notice.error{
  background: #bd3636;
}

#notice h5{
  margin-bottom: 0.5em;
}

#notice p{
  font-size: 0.8em;
}

#notice .cta-button{
  min-width: 30%;
  border-bottom: 1px solid black;
  padding: 0.8em;
}

form input[type="text"], form input[type="email"], form input[type="password"], form input[type="number"]{
  background: #e2e2e2;
  color: black;
}

.modal .container .content{
  width: 100%;
}

.modal .container .content iframe{
  width: 100%;
  min-height: 50vh;
}

.modal .content .warning{

  background: #e84343;
  padding: 1em;
  color: white;
  text-shadow: 0 1px 1px black;
  text-align: center;
  text-transform: uppercase;

}

.modal .container .content div.side-by-side{
  justify-content: flex-end;
  margin-top: 1em;
  border-top: 1px solid #989898;
  padding-top: 1em;
}

.modal .container .content div.side-by-side button{
  margin-left: 1em;
}

.modal .container .content form#songCreation #songparts .songpart{
  display: flex;
  margin-bottom: 1em;
  align-items: center;
  justify-content: center;
}

.modal .container .content form#songCreation #songparts .songpart input{
  margin-right: 1em;
  margin-bottom: 0;
}

.modal .container .content form#songCreation #songparts .songpart .cta-button{
  height: 100%;
  margin-top: inherit;
  align-self: inherit;
}

.modal .container .content ul{
  max-height: 250px;
  overflow-y: scroll;
}

.modal .container .content ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dadada;
  margin-top: 0.5em !important;
  padding-bottom: 0.5em !important;
  padding-left: 0.5em !important;
}

.modal .container .content ul li.heading{
  background: #636363;
  color: white;
  background: #636363;
  color: white;
  margin: 0 !important;
  padding: 0.5em;
  font-weight: 600;
}

.modal .container .content ul li:last-of-type{
  border-bottom: inherit;
}

.modal .container .content ul li button.cta-button{
  min-width: 100px;
}

.modal .container .content ul li a{
  font-weight: 600;
  color: black;
}

.modal#terms .container{
  min-width: inherit;
  max-width: 400px;
}

.modal#terms .container .content h3{
  margin-top: 2em;
}

.modal#terms .container .content ul{
  max-height: initial;
}

.modal#terms .container .content ul li{
  margin-left: 2em;
  margin-bottom: 1em;
  padding: 0;
  list-style-type: disc;
  border-bottom: 0 solid transparent;
  display: list-item;
}

.modal#terms .container .content button#close-terms{
  float: right;
  margin-top: 1em;
}

.open-terms{
  cursor: pointer;
}

body#home header{
  display: flex;
  width: 100%;
  height: 450px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

body#home header h1{
  margin: 0;
  padding: 0;
  font-size: 5em;
  font-weight: 800;
  margin-top: 20px;
}

body#home header h4{
  font-weight: 400;
  margin-bottom: 2em;
}

a.cta-button, button.cta-button, input[type="submit"].cta-button{
  padding: 1em;
  box-sizing: border-box;
  color: black;
  font-weight: 600;
  background-color: white;
  border-radius: 2px;
  font-size: 0.8em;
  text-decoration: none;
  cursor: pointer;
  border: 0 solid transparent;
  max-width: 200px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a.cta-button{
  display: inline-block;
}

button{
  font-family: 'Montserrat';
}

.cta-button.blue{
  background-color: #46649f !important;
  color: white !important;
  text-shadow: 0 1px rgb(0, 0, 0, 0.40);
}

.cta-button.blue:hover{
  background-color: #5679bd !important;
}

.cta-button.light-blue{
  background-color:#2a93e4 !important;
  text-shadow: 0 1px rgb(0, 0, 0, 0.40);
  color: white !important;
}

.cta-button.light-blue:hover{
  background-color:#56acef !important;
}

.cta-button.red{
  background-color: #c34343 !important;
  text-shadow: 0 1px rgb(0, 0, 0, 0.40);
  color: white !important;
}

.cta-button.red:hover{
  background-color: #e05252 !important;
}

.cta-button.green{
  background-color: #7dce33 !important;
  text-shadow: 0 1px rgb(0, 0, 0, 0.40);
  color: white !important;
}

.cta-button.dark-green{
  background-color: #6db12f !important;
  text-shadow: 0 1px rgb(0, 0, 0, 0.40);
  color: white !important;
}

.cta-button.dark-green:hover{
  background-color: #7dce33 !important;
  color: white !important;
}

.cta-button.green:hover{
  background-color: #98ea4c !important;
}

.cta-button.black{
  background-color: black !important;
  color:white !important;
}

.cta-button.yellow{
  background: #ffe563;
  color: black;
  text-shadow: initial;
  border: 1px solid #a2a2a2;
}

.cta-button.yellow:hover{
  background: #fff1ad;
}

.cta-button.transparent{
  background: transparent;
  color: black !important;
  border: 1px solid black;
}

.cta-button.transparent:hover{
  background-color: rgba(0,0,0,0.05);
}

.cta-button.loading{
  background-image: url("/assets/images/loader.gif");
  background-size: 60% auto ;
  background-position: 50% 45%;
  background-repeat: no-repeat;
  color: transparent !important;
  text-shadow: none;
}

.cta-button.loading.dark{
  background-image: url("/assets/images/loader_dark.gif");
}

.cta-button.inactive{
  opacity: 0.5 !important;
  filter: grayscale(1) !important;
}

button.sub-menu{
  display: none;
  position: absolute;
  width: 3em;
  height: 100%;
  background: white;
  right: 0;
  top: 0;
  border: 0;
  background-image: url('/assets/images/menu-icon-dark.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 50%;
}

button.sub-menu.dark{
  background-color: black;
  background-image: url('/assets/images/menu-icon-light.png');
}

nav[data-expanded="true"] button.sub-menu{
  height: 3.7em;
}

#choirMenu[data-expanded="true"] button.sub-menu{
  height: 3em;
}

footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8em;
  padding: 0 2em;
  box-sizing: border-box;
  bottom: 0;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid rgba(255,255,255,0.5);
}

footer div{
  padding: 1em 0;
}

footer div p{
  margin: 0;
  font-size: 1.2em;
}

footer div p:last-of-type{
  font-size: 0.8em;
  line-height: 1.6em;
}

.global-dialog{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.global-dialog .dialog-content{
  max-width: 350px;
  width: 100%;
  text-align: center;
  background: white;
  color: black;
  border-radius: 3px;
  box-shadow: 0 1px 2px black;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.global-dialog .dialog-content a.cta-button{
  background: black;
  color: white;
  display: block;
  width: 100%;
  max-width: 50%;
}

.global-dialog#safariWarning .dialog-content{
  max-height: 75vh;
  overflow: scroll;
  font-size: 0.75em;
}

.modal{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background: rgba(0,0,0,0.8);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 0.8em;
  z-index: 50;
}

.modal.dangerous{
  background: rgba(140,0,0,0.8);
}

.modal .container{
  width: auto;
  min-width: 50%;
  max-width: 60%;
  background: white;
  border-radius: 3px;
  height: auto;
  max-height: 80%;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 1em;
}

.modal .container p{
  margin-top: 0;
}

.modal .container pre{
  background: #424242;
  padding: 1em;
  color: white;
  font-weight: 600;
  overflow: scroll;
  font-size: 1.2em;
  margin: 0;
}

.modal .modal-tabs{
  margin-bottom: 2em;
  border-bottom: 1px solid black;
}

.modal button.tab{
  padding: 1em;
  border-radius: 0;
  border: 0px solid transparent;
  background: white;
  color: black;
  cursor: pointer;
  outline: 0px solid transparent;
}

.modal button.tab[data-selected="true"], .modal button.tab:hover{
  background: black;
  color: white;
  font-weight: 600;
  border-radius: 2px 2px 0 0;
}


.side-by-side{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* ABOUT STYLES */

body#about main{
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 150px;
}

body#about main section{
  margin-bottom: 3em;
}

body#about main h2{
  text-shadow: 0 1px 1px black;
}

body#about main p{
  text-shadow: 0 1px 1px black;
}

/* RECORD STYLES */

body#record #videos{
  display: flex;
  height: 100%;
}

body#record #videos .half{
  display: flex;
  width: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
}

body#record #videos .half.inverted{
  background: white;
  color: black;
}

body#record #videos #lead.half .videoContainer[data-loaded="false"] video{
  display: none;
}

body#record #videos #lead.half .videoContainer[data-loaded="true"] .video-dialog{
  display: none;
}

body#record #videos #performance.half[data-videoloaded="false"] video{
  display: none;
}

body#record #videos #performance.half[data-videoloaded="true"] .video-dialog{
  display: none;
}

body#record #videos .half:first-of-type{
  border-right: 5px solid black;
}

body#record #videos .half:last-of-type{
  border-left: 5px solid black;
}

body#record #videos .half video{
  min-width: 100%;
  object-fit: cover;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

body#record #videos .half#lead button#otherPerformancesTrigger{
  position: absolute;
  bottom: 2em;
  box-shadow: 0 1px 2px black;
}

body#record.impersonating #videos .half#lead button#otherPerformancesTrigger{
  bottom: 4em;
}

body#record #videos[data-leadrecording="true"] div#performance {
  width: 100%;
  border-left: 0 transparent solid !important;
  border-right: 0 transparent solid !important;
}

body#record #videos .half#performance #beginCalibration{
  margin-top: 1em;
}

body#record div.videoContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

body#record[data-performances="2"] div.videoContainer{
  height: 50%;
  width: 100%;
}

body#record[data-performances="3"] .half#lead, body#record[data-performances="4"] .half#lead{
  flex-direction: row;
  flex-wrap: wrap;
}

body#record[data-performances="3"] div.videoContainer, body#record[data-performances="4"] div.videoContainer{
  width:50%;
  height: 50%;
}

body#record[data-performances="3"] div.videoContainer:nth-child(3){
  width: 100%;
}

body#record .video-dialog{
  text-align: center;
  max-width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

body#record #videos[data-leadrecording="true"] .video-dialog{
  max-width: 25%;
}

body#record .video-dialog img{
  width: 25px;
}

body#record .progress{
  width: 200px;
  height: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
}

body#record .progress.inverted{
  border: 1px solid black;
}

body#record .progress .indicator{
  height: 100%;
  background: white;
  width: 0px;
  display: block;
  animation-duration: 4s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transition: width 0.5s;
}

body#record .progress .indicator.inverted{
  background: black;
}

body#record #videos .half h3{
  position: absolute;
  left: 0;
  top: 15vh;
  padding: 0.5em 1em 0.5em 2em;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 0 3px 3px 0;
  border: 1px solid rgba(255,255,255,0.5);
  border-width: 1px 1px 1px 0;
}

body#record #videos .half#performance h3{
  left: inherit;
  border-radius: 3px 0 0 3px;
  right: 0;
  padding: 0.5em 2em 0.5em 1em;
  border-width: 1px 0 1px 1px;
  color: white;
}

body#record #controls{
  position: fixed;
  bottom: 5vh;
  display: flex;
  flex-direction: column;
  left: 50vw;
  transform: translateX(-50%);
}

body#record #controls button{
  margin-bottom: 1em;
  border: 0px;
  box-shadow: 0 1px 2px black;
  color: white;
  outline: 0 solid transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.35);
  min-width: 185px;
}

body#record #controls button:hover{
  cursor: pointer;
}

body#record #controls button.listen, body#record #controls button.playback{
  background-color: #46649f;
}

body#record #controls button.listen:hover, body#record #controls button.playback:hover{
  background-color: #5679bd;
}

body#record #controls button.record{
  background-color: #c34343;
}

body#record #controls button.record:hover{
  background-color: #e05252;
}

body#record #controls button.save{
  color: black;
}

body#record .modal#performanceSelector .content {
  position: relative;
}

body#record .modal#performanceSelector .content span#selectedCount{
  top: 0;
  right: 0;
  width: 33px;
  height: 33px;
  border-radius: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  font-weight: 600;
}

body#record .modal#performanceSelector .content ul li{
  min-height: 40px;
}
body#record .modal#performanceSelector .content ul li.heading {
  min-height: 20px;
}

body#record #videos #performance #visualiser{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

body#record #videos #performance #visualiser div{
  width: 20px;
  background: white;
  height: 0%;
  border-radius: 3px 3px 0 0;
  transition: height 0.05s ease-in;
  box-shadow: 0 2px 3px black;
  max-height: 150%;
}

/* Create Styles */

main{
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  box-sizing: border-box;
}

body header, body#accountLogin header{
  text-align: center;
  padding-top: 2em;
}

body#accountLogin main section{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

body main section form, body#accountLogin main section form{
  /* margin-bottom: 4em; */
  display: flex;
  flex-direction: column;
}

body main section form h2, body#accountLogin main section form h2{
  margin-top: 1em;
}

body form label{
  display: block;
  margin-bottom: 0.5em;
  font-weight: 600;
}

body form input{
  background: black;
  border: 1px solid #969696;
  font-size: 1em;
  padding: 0.75em;
  color: white;
  font-weight: 600;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Montserrat';
  margin-bottom: 1em;
}

body form textarea{
  background: #e2e2e2;
  color: black;
  width: 100%;
  min-height: 7em;
  box-sizing: border-box;
  resize: none;
  font-family: 'Montserrat';
  padding: 0.75em;
}

body#accountLogin main section form input, body#accountCreate main section form input {
  margin-bottom: 1em;
}

body main section form input[type="text"]:focus, body#accountLogin main section form input:focus{
  outline: 1px solid #ffeb00;
}

body main section form div.sectionInput{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

body main section form div.sectionInput input[type="text"]{
  width: 100%;
  margin-right: 1em;
}

body main section form button{
  min-width: 85px;
}

body main section form button#savePerformanceSettings{
  align-self: center;
  min-width: 100px;
}

body main #share pre{
  font-family: 'Montserrat';
  background: white;
  color: black;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 3px;
}

body#accountCreate main section{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body#accountCreate main section form{
  width: 50%;
}

body#accountCreate main section form h2{
  text-align: center;
}

body#accountCreate main section form input[type="submit"]{
  margin-top: 1em;
}

/* Login styles */

body#accountLogin main section form{
  display: flex;
}

body#accountLogin main section form button, #createAccountBtn{
  width: 185px;
  align-self: center;
}

body#accountLogin main section form textarea{
  padding: 1em;
  font-size: 1em;
  font-family: 'Montserrat';
  width: 100%;
  box-sizing: border-box;
  min-height: 8em;
  margin-bottom: 1em;
}

/* Reset Password styles */

body#resetPassword main section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

body#resetPassword main section form button{
  align-self: center;
}

body#changePassword main section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

body#changePassword main section form button{
  align-self: center;
}

/* Dashboard styles */

body#dashboard{
  background-image: url('/assets/images/background_blurred.jpg');
  background-size: cover;
}

body#dashboard main{
  display: flex;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

body#dashboard main section{
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 1em;
  max-width: inherit;
  width: 15%;
}

body#dashboard main section#choirMenu{
  flex-direction: column;
  background: white;
  padding: 0;
  color: black;
  position: relative;
}

body#dashboard main section#choirMenu h2{
  margin: 0.5em;
}

body#dashboard main section#choirMenu ul{
  margin-bottom: 1em;
  max-height: 50%;
}

body#dashboard main section#choirMenu ul li{
  margin-bottom: 0.5em;
  color: black;
  font-size: 0.85em;
}

body#dashboard main section#choirMenu ul li:hover{
  color: white;
  background-color: #424242;

}

body#dashboard main section#choirMenu ul li a{
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 0.5em 0.5em 0.5em 1.25em;
}

body#dashboard main section#choirMenu ul li a.selected{
  background-color: #2a93e4;
  color: white;
  position: relative;
  font-weight: 600;
}

body#dashboard main section#choirMenu ul li a.selected::after{
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  background: #2a93e4;
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -0.5em;
  transform: translateX(-50%) rotate(45deg);
  border-right: 1px solid #ffffffb0;
}

body#dashboard main section#choirMenu button.cta-button{
  width: 100%;
  margin-top: 1em;
}

body#dashboard main section#choirMenu.sidebar #choirCreationCTA {
  position: absolute;
  bottom: 1em;
  width: 100%;
  background: white;
}

body#dashboard main section#choirInfo{
  position: relative;
  flex-grow: 1;
  max-width: inherit;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  max-height: 100%;
  overflow: scroll;
}

body#dashboard main section#choirInfo header{
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}

body#dashboard main section#choirInfo header h1{
  text-shadow: 0 1px 1px black;
  margin-bottom: 0;
  font-size: 2.5em;
}

body#dashboard main section#choirInfo header p{
  max-width: 45%;
  margin-bottom: 2em;
  margin-top: 1em;
}

body#dashboard main section#choirInfo #management{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

body#dashboard main section#choirInfo #management div#subnav, body#dashboard main section#choirInfo #management div#subnav * {
  display: flex;
}

body#dashboard main section#choirInfo #management div#subnav{
  border-bottom: 2px solid white;
  margin-bottom: 0.5em;
}

body#dashboard main section#choirInfo #management div#subnav ol{
  padding: 0;
  margin: 0;
}

body#dashboard main section#choirInfo #management div#subnav ol li{
  margin-right: 1em;
}

body#dashboard main section#choirInfo #management div#subnav ol li a{
  padding: 1em;
  color: white;
  text-decoration: none;
}

body#dashboard main section#choirInfo #management div#subnav ol li.active, body#dashboard main section#choirInfo #management div#subnav ol li:hover{
  background: white;
  border-radius: 2px 2px 0 0;
}

body#dashboard main section#choirInfo #management div#subnav ol li.active a, body#dashboard main section#choirInfo #management div#subnav ol li:hover a{
  color: black;
  font-weight: 600;
}

body#dashboard main section#choirInfo #management div#subnav ol li a{
  background: transparent;
  border: 0px solid transparent;
  font-size: 1em;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}

body#dashboard main section#choirInfo #management div#subnav button.cta-button{
  margin-left: auto;
  margin-bottom: 0.3em;
}

body#dashboard main section#choirInfo #management div.tableActions{
  padding: 0.5em 0.5em;
  text-align: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background: white;
  box-sizing: border-box;
  border-radius: 2px 2px 0 0;
  background: #ffffff73;
  border-bottom: 1px solid #ffffff9e;
  border-top: 1px solid rgba(255, 255, 255, 0.55);
  align-items: center;
  position: relative;
  min-height: 45px;
}

body#dashboard main section#choirInfo #management div.tableActions h3{
  margin-bottom: 0;
  position: absolute;
  left: 0.5em;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.65);
}

body#dashboard main section#choirInfo #management div.tableActions .cta-button{
  border: 1px solid #ffffffb8;
  box-shadow: 0 1px 1px #00000047;
  margin-left: 1em;
}

body#dashboard main section#choirInfo table{
  background: white;
  color: black;
  box-sizing: border-box;
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%;
  margin-bottom: 3em;
  border-radius: 0 0 3px 3px;
}

body#dashboard main section#choirInfo table thead{
  font-weight: 600;
}

body#dashboard main section#choirInfo table thead td{
  background: #636363;
  color: white;
  border-right: 1px solid white;
}

body#dashboard main section#choirInfo table tr[data-collapsed="true"]{
  display: none;
}

body#dashboard main section#choirInfo table tbody tr:nth-child(even) {
  background: #f7f7f7;
}

body#dashboard main section#choirInfo table tr td{
  padding: 0.5em;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-right: 0px solid transparent;
}

body#dashboard main section#choirInfo table tbody tr td{
  padding: 1em 0.5em;
  border-right: 1px solid rgba(0,0,0,0.2);
}

body#dashboard main section#choirInfo table#song tbody tr td{
  border-right: 0 solid transparent;
}

body#dashboard main section#choirInfo table#songs button.delete-song{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

body#dashboard main section#choirInfo table tbody tr.subhead.collapsable{
  cursor: pointer;
  background: #d8d8d8;
  background-image: url('/assets/images/expand.gif');
  background-repeat: no-repeat;
  background-size: 0.8em;
  background-position: 0.5em;
}

body#dashboard main section#choirInfo table tbody tr.subhead.collapsable[data-expanded="true"]{
  background-image: url('/assets/images/collapse.gif');
}

body#dashboard main section#choirInfo table tbody tr.subhead.collapsable td:first-of-type{
  padding-left: 2em;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
}

body#dashboard main section#choirInfo table tbody tr.subhead td{
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  border-right: 0px solid transparent;
}

body#dashboard main section#choirInfo table tbody tr.subhead td:last-of-type{
  text-align: right;
}

body#dashboard main section#choirInfo table tbody tr.subhead td a{
  color: black;
}

body#dashboard main section#choirInfo table tbody tr td:first-of-type{
  font-weight: 600;
}

body#dashboard main section#choirInfo table tbody tr td:first-of-type a{
  color: black;
  font-weight: inherit;
}

body#dashboard main section#choirInfo table tbody tr td:last-of-type{
  border-right: 0;
}

body#dashboard main section#choirInfo table tbody tr td:last-of-type a{
  color: black;
  font-weight: 600;
}

body#dashboard main section#choirInfo table#song tbody tr td button{
  float: right;
  margin-left: 1em;
}

body#dashboard main section#choirInfo table#members tr td:nth-child(3){
  text-transform: capitalize;
  border-right: 0 solid transparent;
  font-weight: 600;
}

body#dashboard main section#choirInfo table#members tr td:last-of-type button{
  float: right;
}

body#dashboard main section#choirInfo div#settings{
  background: white;
  color: black;
  padding: 0 1em 1em;
  box-sizing: border-box;
  border-radius: 0 0 2px 2px;
  display: flex;
  flex-direction: column;
}

body#dashboard main section#choirInfo div#settings button{
  display: block;
  width: auto;
  justify-self: center;
  align-self: center;
}

body#dashboard main section#choirInfo .modal#deleteRecording .container .content video{
  width: 50%;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

body#dashboard main section#choirInfo .modal#deleteRecording .container .content p{
  text-align: center;
}

body#dashboard main section#choirInfo .modal#updateMemberType[data-switchtype="leader"] #makeMemberWarning{
  display: none;
}

body#dashboard main section#choirInfo .modal#updateMemberType[data-switchtype="member"] #makeLeaderWarning{
  display: none;
}

body#dashboard .modal .container .content{
  flex-direction: column;
  display: flex;
}

body#dashboard .modal .container .content video{
  width: 100%;
  min-width: 100%;
  outline: 0px solid transparent;
}

body#dashboard .modal .container .content button {
  align-self: flex-end;
  margin-top: 1em;
}

body#dashboard .no-info{
  width: 100%;
  background: white;
  color: black;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 0 0 3px 3px;
}


/*Error page styles*/

body#error main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body#error main video{
  margin-bottom: 2em;
  width: 80%;
}

/*Admin Styles*/
body#admin main section form{
  background: white;
  padding: 1em;
  color: black;
  max-width: 50%;
  border-radius: 2px;
  margin-bottom: 2em;
}

/*Animation key frames*/
@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

@media all and (max-width: 920px){

  body{
    background-size: auto 50%;
    background-position: 50% 0;
  }

  nav div:first-of-type{
    width: 100%;
  }

  nav #accountInfo{
    display: none;
  }

  nav[data-expanded="false"] section{
    display: none;
  }

  nav[data-expanded="true"]{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 1000;
    padding: 0.78em 1em;
    flex-direction: column;
    justify-content: flex-start;
  }

  nav[data-expanded="true"] a{
    align-self: flex-start;
  }

  nav[data-expanded="true"] section{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }

  nav[data-expanded="true"] section a{
    margin-left: inherit;
    font-size: 1em;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #828282;
    width: 100%;
  }

  nav .cta-button.feedback.small-screen-only{
    display: inherit;
  }

  nav section .cta-button.feedback{
    display: none;
  }

  button.sub-menu{
    display: block !important;
  }

  #notice{
    width: 100%;
    z-index: 1000;
  }

  .modal{
    position: fixed;
  }

  .modal .container {
    max-width: 90%;
    width: 100%;
  }

  body#home header {
    height: auto;
  }
  
  body#home header h1{
    font-size: 3em;
  }

  footer{
    padding: 0 1em;
    font-size: 0.65em;
    background: black;
  }

  footer div {
    max-width: 100%;
  }

  body#dashboard main{
    flex-direction: column;
  }

  body#dashboard main section{
    width: 100%;
  }

  body#dashboard main section#choirMenu {
    width: 100%;
    position: absolute;
    z-index: 5;
    height: auto;
    max-height: 2.5em;
    padding-top: 0;
    overflow: hidden;
  }

  body#dashboard main section#choirMenu[data-expanded="true"]{
    height: 100%;
    overflow-y: scroll;
    max-height: 80%;
    box-sizing: border-box;
  }

  body#dashboard main section#choirMenu[data-expanded="false"] .center-text{
    display: none;
  }

  body#dashboard main section#choirMenu h2{
    font-size: 1em;
    margin-top: 0.5em;
  }

  body#dashboard main section#choirMenu #choirCreationCTA{    
    position: absolute;
    bottom: 1em;
    left: 0;
    width: 100%;
  }

  body#dashboard main section#choirMenu ul{
    margin-bottom: 3em;
    max-height: 100%;
    overflow-y: scroll;
  }

  body#dashboard main section#choirMenu ul li a{
    font-size: 0.9em;
    border-bottom: 1px solid #d4d4d4;
  }

  body#dashboard main section#choirMenu ul li a.selected{
    background: transparent;
    color: inherit;
  }

  body#dashboard main section#choirMenu ul li a.selected::after {
    width: 0;
    height: 0;
  }
  
  body#dashboard main section#choirInfo {
    padding-top: 4em;
    font-size: 0.9em;
  }

  body#dashboard main section#choirInfo header h1{
    font-size: 2em;
  }

  body#dashboard main section#choirInfo header p {
    max-width: 100%;
  }

  body#dashboard main section#choirInfo .modal#deleteRecording .container .content video{
    width: 100%;
  }

  body#record #videos, body#record #controls, body#record #uploadDialog{
    font-size: 0.8em;
  }

  body#record #videos {
    flex-direction: column;
  }

  body#record #videos .half {
    width: 100%;
    height: 60%;
    min-height: inherit;
  }

  body#record #videos .half:first-of-type {
    border-right: 0;
    border-bottom: 1px solid white;
  }

  body#record #videos .half:last-of-type {
    border-left: 0;
  }

  body#record #videos .half h3 {
    top: 1vh;
  }

  body#record #videos .half#lead{
    height: 40%;
  }

  body#record #videos .half#lead button#otherPerformancesTrigger {
    bottom: 0.5em;
  }

  body#record .half#lead .video-dialog h2{
    font-size: 1em;
  }

  body#record #videos[data-leadrecording="true"] div#performance {
    height: 100%;
  }

  body#record #videos .half#performance{
    justify-content: flex-start;
  }

  body#record #videos .half#performance p{
    margin: 0.75em 0;
  }

  body#record .half#performance .video-dialog {
    max-width: 80%;
    font-size: 0.9em;
    padding-top: 4em;
  }


  body#record .progress{
    width: 100%;
  }

  body#record #controls{
    bottom: 0;
  }

  body#admin main section form{
    max-width: 100%;
  }

}