@font-face {
  font-family: 'F';
  src: url('/fonts/f/f.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/f/f.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/f/f.svg#svgFontName') format('svg'); /* Legacy iOS */
}

*[data-active="false"]{
  display: none !important;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: 'F', sans-serif;
  color: white;
}

html{
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
  margin-top: 0;
}

body{ 
  overflow: scroll;
  background-image: url('/assets/images/background.png');
  background-size: 100% auto;
  background-position: 50% -20vh;
  background-repeat: no-repeat;
  padding-top: 50px;
  box-sizing: border-box;
}

a {
  color: #00B7FF;
}

ul, ul li{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.center-text{
  text-align: center;
}

input[type="text"]{
  font-family: 'F';
}

nav {
  background-color: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 3px black;
  color: white;
  padding: 0 1em;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
}

nav section a{
  margin-left: 1em;
  font-size: 0.8em;
}

body#home header{
  display: flex;
  width: 100%;
  height: 450px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

body#home header h1{
  margin: 0;
  padding: 0;
  font-size: 5em;
  font-weight: 600;
  margin-top: 20px;
}

body#home header h4{
  font-weight: 400;
  margin-bottom: 2em;
}

a.cta-button, button.cta-button{
  padding: 1em;
  box-sizing: border-box;
  color: black;
  font-weight: 800;
  background-color: white;
  border-radius: 5px;
  font-size: 0.8em;
  text-decoration: none;
  cursor: pointer;
  border: 0 solid transparent;
}

button.cta-button.blue{
  background-color: #46649f;
  color: white;
}

button.cta-button.blue:hover{
  background-color: #5679bd;
}

button.cta-button.red{
  background-color: #c34343;;
  color: white;
}

button.cta-button.red:hover{
  background-color: #e05252;;
}

footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  padding: 0 2em;
  box-sizing: border-box;
}

footer div{
  max-width: 80%;
  width: 100%;
  padding: 1em 0;
  border-top: 1px solid rgba(255,255,255,0.5);
}

footer div p{
  margin: 0;
  font-size: 1.2em;
}

footer div p:last-of-type{
  font-size: 0.8em;
  line-height: 1.6em;
}

.global-dialog{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.global-dialog .dialog-content{
  max-width: 350px;
  width: 100%;
  text-align: center;
  background: white;
  color: black;
  border-radius: 3px;
  box-shadow: 0 1px 2px black;
  padding: 1em;
  box-sizing: border-box;
}

.global-dialog .dialog-content a.cta-button{
  background: black;
  color: white;
  display: block;
}


#performances{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid rgba(255,255,255,0.5);
  padding: 2em 0 0;
  box-sizing: border-box;
  max-width: 1280px;
}

#performances .space-heading{
  display: flex;
  justify-content: space-between;
}

#performances .space-heading input#search{
  display: block;
  height: 1.5em;
  padding: 0.8em;
  background: black;
  border: 1px solid #777777;
  border-width: 1px;
  outline: 0px solid transparent;
  font-family: 'F';
  color: white;
  font-size: 0.75em;
  width: 20%;
  background-image: url('/assets/images/search_icon.png');
  background-size: auto 50%;
  background-position: 95% 50%;
  background-repeat: no-repeat;
}

#performances h2{
  margin-bottom: 1em;
}

#performances ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#performances ul li{
  flex: 1 0 21%;
  max-width: 21%;
  margin-bottom: 1em;
  padding: 0.5em;
  border-bottom: 1px solid transparent;
}

#performances ul li:hover{
  background-color: rgba(255,255,255,0.1);
  border-bottom: 1px solid white;
}

#performances ul li a{
    color: inherit;
    text-decoration: none;
}

#performances ul li a:hover{
  cursor: pointer;
}

#performances ul li img{
  width: 100%;
  margin-bottom: 1em;
}

#performances ul li h4{
  margin-bottom: 0;
}

#performances ul li p{
  margin-top: 0.5em;
}

/* RECORD STYLES */

body#record #videos{
  display: flex;
  height: 100%;
}

body#record #videos .half{
  display: flex;
  width: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  box-sizing: border-box;
}

body#record #videos .half[data-videoloaded="false"] video{
  display: none;
}

body#record #videos .half[data-videoloaded="true"] .video-dialog{
  display: none;
}

body#record #videos .half:first-of-type{
  border-right: 5px solid black;
}

body#record #videos .half:last-of-type{
  border-left: 5px solid black;
}

body#record #videos .half video{
  min-width: 100%;
  object-fit: cover;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

body#record .video-dialog{
  text-align: center;
  max-width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

body#record .video-dialog img{
  width: 25px;
}

body#record .video-dialog #progress{
  width: 200px;
  height: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
}

body#record .video-dialog #progress #indicator{
  height: 100%;
  background: white;
  width: 0px;
  display: block;
}

body#record #videos .half h3{
  position: absolute;
  left: 0;
  top: 15vh;
  padding: 0.5em 1em 0.5em 2em;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 0 3px 3px 0;
  border: 1px solid rgba(255,255,255,0.5);
  border-width: 1px 1px 1px 0;
}

body#record #videos .half#performance h3{
  left: inherit;
  border-radius: 3px 0 0 3px;
  right: 0;
  padding: 0.5em 2em 0.5em 1em;
  border-width: 1px 0 1px 1px;
}

body#record #controls{
  position: fixed;
  bottom: 5vh;
  display: flex;
  flex-direction: column;
  left: 50vw;
  transform: translateX(-50%);
}

body#record #controls button{
  margin-bottom: 1em;
  border: 0px;
  box-shadow: 0 1px 2px black;
  color: white;
  outline: 0 solid transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.35);
  min-width: 185px;
}

body#record #controls button:hover{
  cursor: pointer;
}

body#record #controls button.listen, body#record #controls button.playback{
  background-color: #46649f;
}

body#record #controls button.listen:hover, body#record #controls button.playback:hover{
  background-color: #5679bd;
}

body#record #controls button.record{
  background-color: #c34343;
}

body#record #controls button.record:hover{
  background-color: #e05252;
}

body#record #controls button.save{
  color: black;
}

/* Create Styles */

main{
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  box-sizing: border-box;
}

body header, body#accountLogin header{
  text-align: center;
  padding-top: 2em;
}

body main section, body#accountLogin main section{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

body main section form, body#accountLogin main section form{
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
}

body main section form h2, body#accountLogin main section form h2{
  margin-top: 2em;
}

body main section form input{
  background: black;
  border: 1px solid #969696;
  font-size: 1em;
  padding: 0.75em;
  color: white;
  font-weight: 800;
  width: 100%;
  box-sizing: border-box;
  font-family: 'F';
}

body#accountLogin main section form input, body#accountCreate main section form input {
  margin-bottom: 1em;
}

body main section form input[type="text"]:focus, body#accountLogin main section form input:focus{
  outline: 1px solid #ffeb00;
}

body main section form div.sectionInput{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

body main section form div.sectionInput input[type="text"]{
  width: 100%;
  margin-right: 1em;
}

body main section form button{
  min-width: 85px;
}

body main section form button#savePerformanceSettings{
  align-self: center;
  min-width: 100px;
}

body main #share pre{
  font-family: 'F';
  background: white;
  color: black;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 3px;
}

/* Login styles */

body#accountLogin main section form{
  display: flex;
}

body#accountLogin main section form button, #createAccountBtn{
  width: 185px;
  align-self: center;
}